<ion-header>
  <ion-toolbar>
    <ion-buttons start>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()" class="icon-size">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Liste des marionnettes</h2>

  <ion-list>
    <button ion-item *ngFor="let device of pairedDevicesTable" (click)="itemTapped($event, device)">
      {{device.name}} - {{device.id}}
    </button>
  </ion-list>

  <button ion-button outline (click)="startScanning()">Connecter</button>
  <!-- <button ion-button (click)="startRunning()">Lancer</button> -->
  <button ion-button outline (click)="disconnect()">Déconnecter</button>
  <button ion-button (click)="run()">Run</button>

  <ion-list padding>
  <ion-list-header>
    Appareils disponibles
  </ion-list-header>
  <ion-item *ngFor='let device of unpairedDevices'>
    <span (click)="selectDevice(device.address)">
      {{device.name}}
    </span>
  </ion-item>
  <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>

</ion-content>
