<ion-header>
  <ion-navbar>
    <ion-title>Marionette</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 *ngIf="selectedItem">{{selectedItem.name}}</h2>
  <p *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.name}}</b>
  </p>
  <p text-center>
    {{selectedItem.id}}
    {{selectedItem.class}}
    {{selectedItem.address}}
    <button ion-button outline>Téléverser</button>
    <ion-list>
      <ion-item *ngFor="let service of item.services">
        {{service}}
      </ion-item>
    </ion-list>
  </p>
</ion-content>
